/*--- Global declarations ---*/
/* * {
	border: 1px solid red;
}
*/

html {
	background-image: url("../images/messi.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

body, #bottom {
	color: #fff;
	width: 100%;
	margin: auto;
	text-align: center;
}

/*--- Specific declarations ---*/
h1 {
	width: 100%;
	padding: 10rem 0 2rem 0;
	font-size: 3rem;
	font-family: 'Raleway',sans-serif;
	text-transform: uppercase;
	font-weight: 800;
}

div {
	width: 70%;
	margin: auto;
}

#question_wrapper, #final_wrapper, #bottom {
	text-align: center;
	font-family: 'Lucida Sans', Arial, sans-serif;
	font-weight: 500;
}

#question_wrapper, #final_wrapper {
	background: rgba(0, 0, 0, 0.5);
}

#answer_holder {
	width: 40%;
	text-align: justify;
	font-size: 1.3rem;
}


#final_score {
	font-size: 10rem;
	margin: 0;
	padding-top: 3rem;
}

#restart {
	color: #000000;
}

.question {
	font-size: 2rem;
}

#answer_holder {
	padding-top: 1rem;
	padding-bottom: 1rem;
}